.TopBar {
  margin: 5vh;
}

ol, .ul {
    list-style: none;
}

.item {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

.anchor:hover, .anchor:focus, .anchor:active {
    color: rgb(74, 74, 74);
    text-decoration: none;
}

.anchor {
    font-family:'Raleway', sans-serif;
    text-decoration: none;
}

.anchor {
    position: relative;
    display: block;
    padding: 5vh 0;
    margin: 0 2vh;
    font-size: 1.7vh;
    /* text-transform: uppercase; */
    color: rgb(114, 114, 114)
}

.anchor::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 4.2vh;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(74, 74, 74);
    transform-origin: center top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.anchor:active::before {
    background-color: rgb(74, 74, 74)
}

.anchor:hover::before, .anchor:focus::before {
    transform-origin: center top;
    transform: scale(1, 1);
}