.topbar-list { 
    margin: 12vh; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 80vh;
    text-align: center;
  }

  .li { 
    display: table-cell; 
    position: relative; 
    font-family: 'Raleway', sans-serif;
    /* padding: 15px 0; */
  }

  #topbar {
    color: rgb(114, 114, 114);
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 1.5vh 2vh;
    position: relative;
    cursor: pointer;
  }

  #topbar:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.5px;
    left: 50%;
    position: absolute;
    background: rgb(114, 114, 114);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  #topbar:hover:after { 
    width: 100%; 
    left: 0; 
  }

  @media screen and (max-height: 300px) {
      /* take note of this */
      .topbar-list {
          margin-top: 40px;
      }
  }
  