.CasaFiesta { 
    margin: 12vh;
}

.project-1 {
    position: fixed;
    padding-right: 9vh;
}

.lorem-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(74, 74, 74);
}

.lorem-content {
    font-family: 'Raleway', sans-serif;
    color: rgb(114, 114, 114);
}

#space {
    padding: 0 11.7vh;
}