.Projects {
    width: 100%;
}

.img__wrap {
    position: relative;
    height: 295px;
    width: 440px;
  }
  
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }
  

  .img__description {
    transition: .2s;
    transform: translateY(1em);
    padding-top: 25vh;
    font-weight: 900;
    letter-spacing: 0.3vh;
    font-family: 'Raleway', sans-serif;
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }


#container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.3%;
}

#container div {
    width: 100%;

}